<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

<head>
<meta charset="UTF-8">
<title>projects</title>
<link rel="stylesheet" th:href="@{/css/issue/issue-list.css}">
<link rel="stylesheet" th:href="@{/css/auth/auth.css}">

</head>
<body>
	<div id="container">
		<div class="x-page-title">
			<h3 class="page-title">역할 권한 관리</h3>
			<div class="page-title-sub">역할기본 정보를 조회할 수 있습니다.</div>
		</div>
		<div class="issue-filters mb-3 mt-3">
			<div class="row g-2 align-items-end">

				<!--입력 검색 -->
				<div class="col-12 col-md-3">
					<label class="form-label">역할명</label> <input type="text"
						id="filterTitle" class="form-control" placeholder="역할명 입력">
				</div>

				<!-- 프로젝트 관리자 권한이 하나라도 있다면 등록 버튼 활성화 -->
				<div class="d-flex justify-content-between align-items-center mt-3">
					<div class="d-flex gap-2">
						<button type="button" class="btn btn-success">
							<a th:href="@{/authadd}"> <i class="fas fa-plus me-1"></i> 역할
								등록
							</a>
						</button>
					</div>

					<div class="col-auto d-flex gap-2 ms-auto">
						<button type="button" class="btn btn-secondary"
							id="btnResetFilters">
							<i class="fas fa-redo me-1"></i>초기화
						</button>
						<button type="button" class="btn btn-primary" id="btnApplyFilters">
							<i class="fa-solid fa-magnifying-glass"></i> 조회
						</button>
					</div>
				</div>

			</div>
		</div>
		<div class="card mb-4 issue-list-card">

			<div
				class="card-header d-flex align-items-center justify-content-between">
				<div>
					<i class="fas fa-table me-1"></i> 역할 목록

				</div>
				<div class="text-muted small" id="projectPageInfo"></div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover align-middle" id="issueTable"
						style="table-layout: fixed; width: 100%;">
						<thead class="table-light">
							<tr>

								<th style="width: 50px;">번호</th>
								<th style="width: 100px;">역할명</th>
								<th style="width: 100px;">설명</th>
								<th style="width: 50px;">마스터 권한</th>
								<th style="width: 80px;">권한</th>
								<th style="width: 80px;">저장</th>
								<th style="width: 80px;">삭제</th>
							</tr>
						</thead>

						<tbody id="projectTbody">
							<tr class="projectRow" th:each="info, status : ${auths}"
								th:onclick="|if(!event.target.closest('button') && !event.target.closest('input')) location.href='@{/authInfo(roleCode=${info.roleCode})}'|"
								style="cursor: pointer;">
								<td>[[ ${status.index+1} ]]</td>
								<td style="display: none;">[[ ${info.roleCode} ]]</td>
								<td class="ellipsis" data-bs-toggle="tooltip"
									data-bs-placement="top" th:title="${info.roleName}">[[
									${info.roleName} ]]</td>
								<td class="ellipsis" data-bs-toggle="tooltip"
									data-bs-placement="top" th:title="${info.explanation}">[[
									${info.explanation} ]]</td>

								<td><input type="checkbox" name="adminck"
									th:checked="${info.adminCk == 'Y'}"></td>
								<td>
									<!-- 권한 버튼: 상세페이지 -->
									<button class="btn btn-primary btn-sm auth-btn">
										<i class="fa-regular fa-face-grin"></i> 권한
									</button>
								</td>
								<td>
									<!-- 수정 버튼: 관리자 권한 선택 -->
									<button class="btn btn-success btn-sm save-btn">
										<i class="fas fa-check"></i> 저장
									</button>
								</td>

								<td>
									<!-- 삭제 버튼: 관리자이거나 삭제 권한이 있을 때만 활성화 -->
									<button class="btn btn-danger btn-sm delete-btn">
										<i class="fa-solid fa-minus me-1"></i> 삭제
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- 페이징 -->
				<nav class="d-flex justify-content-center mt-3 mb-3">
					<ul class="pagination mb-0" id="projectPagination"></ul>
				</nav>
			</div>





			<script th:src="@{/js/common/toast.js}"></script>
			<script th:src="@{/js/auth/auth.js}"></script>
</body>
</html>