<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	
<head>
<meta charset="UTF-8">
<title>Management</title>
<link rel="stylesheet" th:href="@{/css/mgr/mgr.css}">
</head>
<body>
	<div class="container">
		<div class="container-fluid px-4">
			<h1 class="mt-4">관리 테스트</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">관리</li>
			</ol>
			<div class="row" id="recommend-list">
				<div  class="col-xl-3 col-md-6 draggable" draggable="true">
					<div class="card bg-primary text-white mb-4">
						<div class="card-body">Projects</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between">
							<a class="small text-white stretched-link" th:href="@{/projects}">프로젝트
								관리</a>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div  class="col-xl-3 col-md-6 draggable" draggable="true">
					<div class="card bg-primary text-white mb-4">
						<div class="card-body">Users</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between">
							<a class="small text-white stretched-link" th:href="@{/#}">사용자
								관리</a>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div  class="col-xl-3 col-md-6 draggable" draggable="true">
					<div class="card bg-primary text-white mb-4">
						<div class="card-body">Group</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between">
							<a class="small text-white stretched-link" th:href="@{/#}">그룹
								관리</a>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
				<div  class="col-xl-3 col-md-6 draggable" draggable="true">
					<div class="card bg-primary text-white mb-4">
						<div class="card-body">Role & Authority</div>
						<div
							class="card-footer d-flex align-items-center justify-content-between">
							<a class="small text-white stretched-link" th:href="@{/#}">역할
								권한 관리</a>
							<div class="small text-white">
								<i class="fas fa-angle-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/mgr/mgr.js}"></script>
</body>
</html>